{% extends "layout.html.twig" %}

{% block content %}
<div class="page-header">
  <h1>Les plus votées <small>Liste des questions populaires</small></h1>
</div>
{% include 'question/list.sof.html.twig' with {'questions': questions} %}
{% endblock %}