<?php

$app['debug'] = false;

// By default, all page are under "Homepage" menu
$app['session']->set('menu', 'homepage');

// Sqlite
$app['db.options'] = array(
    'driver' => 'pdo_sqlite',
    'path' => __DIR__.'/../cache/asktea.db',
);

