<footer>
  <p class="pull-right">Un problème ? Des questions ? N'hésitez pas à envoyer un mail à <a href="mailto:contact@tea-ebook.com">contact@tea-ebook.com</a></p>
  <p>&copy; <a href="http://www.tea-ebook.com">tea-ebook.com</a> 2012</p>
</footer>