<footer>
  <p class="pull-right muted">Un problème ? Des questions liées à l'utilisation du site de Questions / Réponses TEA ?<br>N'hésitez pas à nous envoyer un mail à <a href="mailto:support@tea-ebook.com">support@tea-ebook.com</a></p>
  <p>&copy; <a href="http://www.tea-ebook.com">tea-ebook.com</a> 2012</p>
</footer>