{% extends "layout.html.twig" %}

{% block content %}
<div class="page-header">
  <h1>Bonjour et bienvenue !</h1>
  <div class="extra muted">Vous avez une question sur TEA ? Sur notre modèle open source ? Sur nos
solutions techniques ? N'hésitez pas à poser et partager votre question.</div>
</div>
<div class="row">
    <div class="span12">
      {% include 'question/list.sof.html.twig' with {'questions': questions} %}
      <a href="{{ path('question.new') }}" class="btn btn-primary btn-large">Poser une question »</a>
    </div>
  </div>
{% endblock %}