{% extends "layout.html.twig" %}

{% block title %}
<h1>Liste des questions</h1>
{% endblock %}

{% block content %}
  {% for question in questions %}
    <div class="hero-unit">
      <h2>{{ question.title }}</h2>
      <p>{{ question.body }}</p>
      <p>Nombre de votes : {{ question.nb_vote }}</p>
      <p><a class="btn btn-primary btn-large" href="{{ path('question_show', {id: question.id}) }}">Learn more &raquo;</a></p>
    </div>
  {% endfor %}
{% endblock %}