{% extends "layout.html.twig" %}

{% block title %}
<h1>Liste des questions</h1>
{% endblock %}

{% block content %}
  {% include "question/_list.html.twig" with { 'questions': questions } %}
{% endblock %}